/*! CSS Module (For component -prevent conflicts)-
 Scope: Locally scoped to the component (auto-unique class names)
 Usage: File name must end with .module.css (e.g. Button.module.css)

 // Naming Collision: impossible b/c it's automatic change class name in DOM like this -
 .heading_title    = >   about_heading_title__9R16U

 ( Must import styles object in component where we want to use css module and it's className = {style.className} )
  e.g
   className={styles.heading_title}     then css apply on that tag

*/


.heading_title{
    color:blueviolet;
    font-size: 25px;
}


